extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Jenni Stén

        p.lead.text-light
          | Junior developer.<br/>Senior Product Owner and Project Manager.

        .portfolio-bio
          p
            | My work experience includes banking processes, business and project management and product development.
            | My core competence is corporate payment solutions, a rapidly changing area that continues to challenge me. Studying to be a FullStack JavaScript developer is not only about the coding but also giving me a better picture about all the dependencies that make for a reliable, secure and userfriendly software product.
            | I'm always striving to be a better version of myself, constantly developing, maybe someday growing up. Languages spoken: Finnish, Swedish, English and Tech.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li HTML and CSS
          li Express
          li SQL
          li Project Management
          li Business Intelligence
        h6 Contact Info

        ul
          li +358 40 413 2339
          li jenni.m.sten@gmail.com

        a.button.expanded(href='https://fi.linkedin.com/in/jenni-sten-0b6b34149') LinkedIn
        a.button.expanded(href='https://github.com/jennisten') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
